.start{

    background-image: url("images/h_img.jpg");
    background-size: cover;
    text-align: center;
    color: white;
    padding: 30px;
    
  }
  .text-describe{
     position: absolute;
     top: 50%;
     color: white;
     left: 45%;
     transform: translate(-50%, -50%);
     border-style: solid;
     border-radius: 25px;
     padding: 5px;
  }
  .customDiv{

    margin-bottom: 3px;
    text-align: centre;
    width: 100%;
    height: 100%;
    padding: 20px;
    margin: 20px;
  }
  .col-md-3{
    padding: 3px;
    width: 90%;
  }
.start1{

    text-align: center;
    padding: 30px;
}
.h1{
    color: white;
}
.start2{
    background-image: url("images/s_image.jpg");
    color: white;
    padding: 30px;
}
.styleDiv-hidden{
    margin: 3px;
    text-align: center;
    padding: 30px;
}
.h3{
    text-align: center;
}
.styleDiv1-hidden{
    margin: 3px;
    text-align: center;
    padding: 30px;
}
.styleDiv2-hidden{
    margin: 3px;
    text-align: center;
    padding: 20px;
}
.container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}
#styleDiv-show {
    display: none;
  }

  #clickable {
    cursor: pointer;
    color: #0088cc;
  }
  #styleDiv1-show {
    display: none;
  }
  #styleDiv2-show {
    display: none;
  }
  .clickable2 {
    cursor: pointer;
    color: #0088cc;
  }
  #hid {
      display: none;
  }
  #hidd {
      display: none;
  }
  